.site-nav-toggle, .site-nav-right {
  display: none;

  +mobile() {
    flex-column();
  }

  .toggle {
    color: var(--text-color);
    padding: 10px;
    width: 22px;

    .toggle-line {
      background: var(--text-color);
      border-radius: 1px;
    }
  }
}

.site-nav-toggle{
  +tablet-mobile() {
    background: #db7093;;
  }
}
.site-nav-right {
  +tablet-mobile() {
    background: #4169E1;
  }
}

.site-nav {
  display: block;

  +mobile() {
    clear: both;
    display: none;
  }

  &.site-nav-on {
    display: block;
  }
}
